* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);

  color: white;
}

#container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

#img_container {
  width: 75%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  align-self: center;
  position: relative;
  background-color: hsl(244, 38%, 16%);
}

#text_box {
  width: 40%;
  height: auto;
  display: inline-block;
  padding-top: 6%;
  padding-left: 5vw;
}

#img_1 {
  width: 50%;
  height: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  float: right;
}

#overlay {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  background-color: hsl(277, 64%, 45%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.5;
  z-index: 2;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 2.2vw;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.7vw;
}

span {
  color: hsl(277, 64%, 61%);
}

p {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1vw;
  line-height: 150%;
  padding-top: 4%;
}

ul{
  list-style-type: none;
}

#list_1 {
  position: absolute;
  top: 70%;
}

#list_2 {
  position: absolute;
  left: 20%;
  top: 70%;
}

#list_3 {
  position: absolute;
  left: 32%;
  top: 70%;
}

@media screen and (max-width: 411px) {
  #img_container {
    height: 90vh;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
  }

  #img_1 {
    width: 100%;
    height: 210px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    position: absolute;
  }

  #text_box {
    width: 80%;
    text-align: center;
    position: absolute;
    margin-top: 25vh;
    margin-left: 5vw;
  }

  #overlay {
    height: 210px;
    left: 0%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
  }

  h1 {
    position: absolute;
    top: 110%;
    font-size: 3.2vh;
  }

  h2 {
    font-size: 2.8vh;
    margin-left: 20px;
  }

  p {
    position: absolute;
    top: 280%;
    font-size: 1.8vh;
    line-height: 18px;
  }

  #list_1 {
    top: 500%;
    left: 40%;
    line-height: 30%;
  }

  #list_2 {
    top: 620%;
    left: 40%;
    line-height: 30%;
  }

  #list_3 {
    top: 740%;
    left: 38%;
    line-height: 30%;
  }

  #queries_txt {
    margin-left: 15px;
  }
}
